.bmpui-sample-ui-skin-tv-disneyplus {
  font-family: "Avenir" !important;
  font-style: normal !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-titlebar > .bmpui-container-wrapper,
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-controlbar > .bmpui-container-wrapper {
  padding: 2em;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-container-wrapper > .bmpui-ui-settings-panel {
  margin: 0;
  top: 0;
  left: 0;
  width: 100% !important;
  padding: 3em;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-titlebar {
  padding: 1em 1em 0.5em;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-titlebar .bmpui-label-metadata-title {
  font-size: 3.5vh;
  font-weight: bold;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-titlebar .bmpui-label-metadata-description {
  font-size: 2vh;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-controlbar-bottom {
  font-size: 2.5vh;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-controlbar-bottom .bmpui-container-wrapper > * {
  margin: auto 0.5em;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-playbacktogglebutton {
  background-image: url("assets/play.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-playbacktogglebutton:hover {
  filter: drop-shadow(0 0 1px #fff);
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-playbacktogglebutton:focus {
  background-image: url("assets/playX.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-playbacktogglebutton.bmpui-on {
  background-image: url("assets/pause.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-playbacktogglebutton.bmpui-on:focus {
  background-image: url("assets/pauseX.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-replaybutton {
  background-image: url("assets/restart.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-replaybutton:hover {
  filter: drop-shadow(0 0 1px #fff);
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-replaybutton:focus {
  background-image: url("assets/restartX.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-settingstogglebutton {
  background-image: url("assets/settings.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-settingstogglebutton:focus {
  background-image: url("assets/settingsX.svg");
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-backdrop,
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-bufferlevel,
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-seekposition,
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-playbackposition {
  border-radius: 9px !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-playbackposition-marker {
  background-color: rgb(255, 255, 255) !important;
  border: solid !important;
  width: 0.1em !important;
  margin-left: 0.4em !important;
  border-radius: 6px !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-backdrop {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-seekposition {
  background-color: rgb(93, 167, 255) !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-bufferlevel {
  background-color: rgba(0, 0, 0, 0) !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-seekbar-playbackposition {
  background-color: rgb(93, 167, 255) !important;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label {
  font-size: 4vw;
  border-radius: 5px;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner {
  border: none;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner .bmpui-container-wrapper .bmpui-seekbar-label-metadata {
  border-radius: 8px;
  bottom: -1.2em;
  background: none;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner .bmpui-container-wrapper .bmpui-seekbar-label-metadata .bmpui-seekbar-label-title {
  display: none;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner .bmpui-container-wrapper .bmpui-seekbar-label-metadata .bmpui-seekbar-label-time {
  font-size: 1.5vh;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 30%;
  margin: auto;
  height: 2vh;
  padding-top: 0.5vh;
  border-radius: 2vh;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner .bmpui-seekbar-thumbnail {
  border-radius: 8px;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-seekbar-label .bmpui-seekbar-label-inner::after {
  content: unset;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-settings-panel {
  height: 30%;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-settings-panel .bmpui-ui-settings-panel-page .bmpui-container-wrapper > *.bmpui-ui-label {
  width: 20%;
}
.bmpui-sample-ui-skin-tv-disneyplus .bmpui-ui-listbox {
  display: inline-flex;
}

/*# sourceMappingURL=disney.css.map */
