$prefix: 'bmpui';
$color-primary: #fff !default;

@mixin svg-icon-shadow {
  filter: drop-shadow(0 0 1px $color-primary);
}

.#{$prefix}-ui-tv-disneyplus {
  $accent-color: rgba(93, 167, 255, 1);
  $backdrop-color: rgba(255, 255, 255, 0.28);

  font-family: 'Avenir', 'Open Sans', sans-serif !important;
  font-style: normal !important;

  .#{$prefix}-ui-titlebar > .#{$prefix}-container-wrapper,
  .#{$prefix}-ui-controlbar > .#{$prefix}-container-wrapper {
    padding: 1.5em 2em;
  }

  .#{$prefix}-ui-titlebar {
    padding: 1em 1em 0.4em;

    .#{$prefix}-label-metadata-title {
      font-weight: 700;

      .#{$prefix}-ui-label-text {
        font-size: 3vh;
      }
    }

    .#{$prefix}-label-metadata-description {
      display: none;
    }
  }

  .#{$prefix}-ui-controlbar {
    .#{$prefix}-controlbar-bottom {
      > .#{$prefix}-container-wrapper {
        > .#{$prefix}-ui-spacer {
          flex: 1;
        }
      }
    }
  }

  .#{$prefix}-ui-controlbar .#{$prefix}-controlbar-bottom {
    > .#{$prefix}-container-wrapper {
      .#{$prefix}-ui-playbacktogglebutton,
      .#{$prefix}-ui-replaybutton {
        font-size: 5.2vh !important;
        padding: 0.25em;
        margin: 0 0.9em;

        .#{$prefix}-ui-icon {
          width: 5.2vh !important;
          min-width: 5.2vh !important;
          height: 5.2vh !important;
          background-size: contain;
        }

        &:hover {
          @include svg-icon-shadow;
        }
      }
    }
  }

  .#{$prefix}-ui-playbacktogglebutton {
    .#{$prefix}-ui-icon {
      background-image: url('assets/play.svg');
    }

    &:focus,
    &.#{$prefix}-focused {
      .#{$prefix}-ui-icon {
        background-image: url('assets/playX.svg');
      }
    }

    &.#{$prefix}-on {
      .#{$prefix}-ui-icon {
        background-image: url('assets/pause.svg');
      }

      &:focus,
      &.#{$prefix}-focused {
        .#{$prefix}-ui-icon {
          background-image: url('assets/pauseX.svg');
        }
      }
    }
  }

  .#{$prefix}-ui-replaybutton {
    .#{$prefix}-ui-icon {
      background-image: url('assets/restart.svg');
    }

    &:focus,
    &.#{$prefix}-focused {
      .#{$prefix}-ui-icon {
        background-image: url('assets/restartX.svg');
      }
    }
  }

  .#{$prefix}-ui-playbacktimelabel {
    .#{$prefix}-label {
      font-size: 2.4vh;
      font-weight: 600;
    }
  }

  .#{$prefix}-seekbar-backdrop,
  .#{$prefix}-seekbar-bufferlevel,
  .#{$prefix}-seekbar-seekposition,
  .#{$prefix}-seekbar-playbackposition {
    border-radius: 9px !important;
  }

  .#{$prefix}-seekbar-backdrop {
    background-color: $backdrop-color !important;
  }

  .#{$prefix}-seekbar-bufferlevel {
    background-color: transparent !important;
  }

  .#{$prefix}-seekbar-seekposition,
  .#{$prefix}-seekbar-playbackposition {
    background-color: $accent-color !important;
  }

  .#{$prefix}-seekbar-playbackposition-marker {
    background-color: #fff !important;
    border: solid !important;
    width: 0.1em !important;
    margin-left: 0.4em !important;
    border-radius: 6px !important;
  }

  .#{$prefix}-ui-seekbar-label {
    border-radius: 5px;

    .#{$prefix}-seekbar-label-inner {
      border: none;

      .#{$prefix}-container-wrapper {
        .#{$prefix}-ui-label.#{$prefix}-seekbar-label-time {
          background-color: #fff !important;
          color: #000;
          border-radius: 999px !important;
          padding: 0.2em 1em !important;
          display: inline-flex !important;
          align-items: center;
          justify-content: center;
        }

        .#{$prefix}-seekbar-label-metadata {
          border-radius: 8px;
          bottom: -1.4em;
          background: none;

          .#{$prefix}-seekbar-label-title {
            display: none;
          }

          .#{$prefix}-seekbar-label-time {
            font-size: 1.8vh;
            font-weight: 600;
            background-color: #fff;
            color: #000;
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 0.2em 1em;
            border-radius: 999px;
            line-height: 1.2;

            .#{$prefix}-ui-label-text {
              background-color: #fff;
              color: #000;
              border-radius: 999px;
              padding: 0.1em 0.2em;
            }
          }
        }
      }

      .#{$prefix}-seekbar-thumbnail {
        width: 22vw;
        min-width: 260px;
        max-width: 360px;
        border-radius: 0;
        border: 2px solid #000;
      }
    }

    .#{$prefix}-seekbar-label-inner::after {
      content: none;
    }
  }
}
