<div class='app'>
  <div id='wrapper'>
    <div id='banner'>
      <div class='logo'><img src='../assets/bitmovin-logo.png'></div>
      <div class='title'><h1>Angular</h1></div>
      <div class='clear'></div>
    </div>
    <div class='container'>
      <h1>HTML5 Adaptive Streaming Player for MPEG-DASH & HLS</h1>
      <h2>Your videos play everywhere with low startup delay, no buffering and in highest quality.</h2>
      <div class='content'>
        <div class='player-wrapper'>
          <app-bitmovin-player></app-bitmovin-player>
        </div>
        <div class='description'>
          <p>For more information about the bitmovin player, please have a look at our online
            <a href='//bitmovin.com/support' target='_blank'>Developer Section</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
