$prefix: 'bmpui';
$color-primary: #fff !default;

@mixin svg-icon-shadow {
  filter: drop-shadow(0 0 1px $color-primary);
}

.#{$prefix}-ui-tv-netflix {
  $overscan-margin: 5%;
  $top-controls-width: 17vh;
  $large-size: 3.5vh;
  $medium-large-size: 3vh;
  $medium-size: 2vh;
  $small-size: 1.5vh;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0em;

  $color-highlight: #ffffff;
  $color-background: #ffffff;

  font-size: $medium-size;

  .#{$prefix}-ui-titlebar {
    > .#{$prefix}-container-wrapper {
      margin: $overscan-margin $overscan-margin $small-size;
      width: 100% - 2 * $overscan-margin;
    }
  }

  .#{$prefix}-ui-titlebar-top {
    height: 5vh;

    > .#{$prefix}-container-wrapper {
      width: 100%;
      height: 5vh;
      font-size: $small-size;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.6vw;

      .#{$prefix}-label-metadata-title {
        margin-left: auto;
        font-weight: bold;
        font-size: 2.3vh;
        text-align: right;

        .#{$prefix}-ui-label-text {
          font-size: 2.5vh;
        }
      }
    }
  }

  .#{$prefix}-ui-top-controls {
    > .#{$prefix}-container-wrapper {
      width: $top-controls-width;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      column-gap: 0.8vh;
    }

    .#{$prefix}-ui-closebutton,
    .#{$prefix}-ui-replaybutton,
    .#{$prefix}-ui-nextbutton {
      margin: 0;
    }
  }

  .#{$prefix}-ui-top-left-group {
    > .#{$prefix}-container-wrapper {
      width: $top-controls-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.4vh;
    }
  }

  .#{$prefix}-ui-titlebar-bottom {
    > .#{$prefix}-container-wrapper {
      width: 100%;
      font-size: $small-size;

      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .#{$prefix}-label-metadata-description {
      font-size: $small-size;
      margin-left: auto;
      text-align: right;
      width: auto;
      max-width: 40%;
    }
  }

  // Position the settings panel top left below the settings icons
  .#{$prefix}-ui-settings-panel {
    font-size: $small-size;
    top: 0;
    left: 0;
    width: 10vw;
    background-color: transparent;
  }

  .#{$prefix}-ui-closebutton {
    margin: 1vh;
    font-size: $medium-large-size;

    .#{$prefix}-ui-icon {
      width: $medium-large-size;
      min-width: $medium-large-size;
      height: $medium-large-size;
      background-image: url('assets/return.svg');
      background-size: contain;
    }
  }

  .#{$prefix}-ui-replaybutton {
    margin: 1vh;
    font-size: 4vh;

    .#{$prefix}-ui-icon {
      width: 4vh;
      min-width: 4vh;
      height: 4vh;
      background-image: url('assets/restart.svg');
      background-size: contain;
    }
  }

  .#{$prefix}-ui-nextbutton {
    margin: 1vh;
    font-size: $medium-large-size;
    min-width: fit-content;
    padding: 0.3em 0.5em;

    .#{$prefix}-ui-icon {
      width: $medium-large-size;
      min-width: $medium-large-size;
      height: $medium-large-size;
      background-image: url('assets/next.svg');
      background-size: contain;
    }

    &:hover {
      @include svg-icon-shadow;
    }
  }

  .#{$prefix}-ui-label-options {
    // background-color: red;
    text-align: center;
    font-size: $small-size;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    .#{$prefix}-ui-label-text {
      width: 100%;
      text-align: center;
    }
  }

  // Controlbar hierarchy
  .#{$prefix}-ui-controlbar {
    font-size: $medium-large-size;

    //WRAPPER
    > .#{$prefix}-container-wrapper {
      margin: $overscan-margin auto;
      width: 80%;

      > .#{$prefix}-controlbar-top {
        font-size: $medium-large-size;

        //WRAPPER
        > .#{$prefix}-container-wrapper {
          font-size: $medium-large-size;
          margin: auto;

          > .#{$prefix}-ui-seekbar {
            font-size: $small-size;
            margin: auto;

            > .#{$prefix}-seekbar {
              .#{$prefix}-seekbar-bufferlevel {
                background-color: rgba(255, 255, 255, 0.35);
              }
              .#{$prefix}-seekbar-playbackposition {
                background-color: red;
              }
              .#{$prefix}-seekbar-markers {
                visibility: hidden;
              }
              .#{$prefix}-seekbar-playbackposition-marker {
                visibility: hidden;
              }
            }

            > .#{$prefix}-ui-seekbar-label {
              background: none;
              left: 50% !important;

              > .#{$prefix}-container-wrapper {
                > .#{$prefix}-seekbar-label-inner {
                  border: 0;

                  &::after {
                    content: none;
                  }
                }
              }
            }
          }

          > .#{$prefix}-ui-playbacktimelabel {
            font-size: $medium-size;
            margin: auto;
            width: 5vw;
          }
        }
      }
    }
  }

  .#{$prefix}-seekbar-label-metadata {
    visibility: hidden;
  }

  .#{$prefix}-ui-playbacktogglebutton {
    font-size: 4vh;
    padding: 0.25em;

    .#{$prefix}-ui-icon {
      width: 4vh;
      min-width: 4vh;
      height: 4vh;
      background-image: url('assets/play.svg');
      background-size: contain;
    }

    &:hover {
      @include svg-icon-shadow;
    }

    &.#{$prefix}-on .#{$prefix}-ui-icon {
      background-image: url('assets/pause.svg');
    }
  }

  :focus {
    transition: all 0.05s ease-in-out;
    outline: none;
    border: none;
    -webkit-filter: drop-shadow(0 0 0.3em $color-highlight);
    filter: drop-shadow(0 0 0.3em $color-highlight);
  }
}
