#player {
  max-width: 900px;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
}
