.bmpui-ui-skin-tv-youtube {
  visibility: visible !important;
  font-family: Roboto;
  letter-spacing: 0em;
  font-size: 2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar > .bmpui-container-wrapper {
  margin: 3% 3% 1.2vh;
  width: 94%;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar-top {
  height: 5vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar-top > .bmpui-container-wrapper {
  width: 100%;
  height: 5vh;
  font-size: 1.2vh;
  display: inline-block;
  flex-direction: column;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar-top > .bmpui-container-wrapper > .bmpui-label-metadata-title {
  font-weight: 400;
  font-size: 3vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar-top > .bmpui-container-wrapper > .bmpui-label-metadata-description {
  font-size: 1.5vh;
  width: 60%;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-titlebar-bottom > .bmpui-container-wrapper {
  width: 100%;
  font-size: 1.2vh;
  position: relative;
  display: inline-flex;
  justify-content: right;
  align-items: flex-start;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-settings-panel {
  font-size: 1.2vh;
  top: 0;
  left: 0;
  width: 10vw;
  background-color: transparent;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar {
  font-size: 2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper {
  margin: 3% auto;
  width: 90%;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom {
  font-size: 2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper {
  font-size: 3vh;
  margin: auto;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar {
  font-size: 2vh;
  margin: auto;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-seekbar > .bmpui-seekbar-bufferlevel {
  background-color: grey;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-seekbar > .bmpui-seekbar-playbackposition {
  background-color: red;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-seekbar > .bmpui-seekbar-markers {
  visibility: hidden;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-seekbar > .bmpui-seekbar-playbackposition-marker {
  background-color: #ffffff;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0.5vh rgba(255, 255, 255, 0.5);
  width: 2vh;
  height: 2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-ui-seekbar-label {
  background: none;
  margin-bottom: 7vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-ui-seekbar-label > .bmpui-container-wrapper > .bmpui-seekbar-label-inner {
  border: 0;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-controlbar > .bmpui-container-wrapper > .bmpui-controlbar-bottom > .bmpui-container-wrapper > .bmpui-ui-seekbar > .bmpui-ui-seekbar-label > .bmpui-container-wrapper > .bmpui-seekbar-label-inner::after {
  content: none;
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top {
  font-size: 2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper {
  font-size: 1.2vh;
  height: 8vh;
  margin: auto;
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper > .bmpui-ui-subtitlesettingstogglebutton,
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper .bmpui-ui-audiotracksettingstogglebutton,
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper .bmpui-ui-replaybutton {
  font-size: 2vh;
  margin-top: 0;
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper > .bmpui-ui-replaybutton {
  background-image: url("assets/avatar.svg");
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper > .bmpui-ui-subtitlesettingstogglebutton {
  background-image: url("assets/subtitles.svg");
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper > .bmpui-ui-audiotracksettingstogglebutton {
  background-image: url("assets/settings.svg");
}
.bmpui-ui-skin-tv-youtube .bmpui-controlbar-top > .bmpui-container-wrapper > .bmpui-ui-playbacktimelabel {
  font-size: 2vh;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1.2vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-replaybutton {
  font-size: 1.2vh;
  background-image: url("assets/restart.svg");
}
.bmpui-ui-skin-tv-youtube .bmpui-seekbar-label-title {
  visibility: hidden;
}
.bmpui-ui-skin-tv-youtube .bmpui-seekbar-label-time {
  font-size: 2vh;
  position: relative;
  bottom: -4vh;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-hugeplaybacktogglebutton.bmpui-on .bmpui-image {
  background-image: url("assets/play_big.svg");
  background-size: 10em;
  animation: fade-out 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: visibility 1s 0.3s;
  visibility: hidden;
}
.bmpui-ui-skin-tv-youtube .bmpui-ui-hugeplaybacktogglebutton.bmpui-off .bmpui-image {
  background-image: url("assets/pause_big.svg");
  background-size: 10em;
  animation: fade-in 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  visibility: hidden;
}
.bmpui-ui-skin-tv-youtube :focus {
  transition: all 0.05s ease-in-out;
  outline: none;
  border: none;
}

/*# sourceMappingURL=youtube.css.map */
